<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Akıllı_Jammer_Karar_Destek_Arayüzü.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Akıllı_Jammer_Karar_Destek_Arayüzü.Properties.Settings>
            <setting name="BufferBoyutu" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="SinyalGenligi" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="KareDalgaPeriyodu" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="DahiliTestKazanci" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DonanimZamanAsimi" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TxBufferBoyutu" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="TxZamanAsimiMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RxBufferBoyutu" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="RxNumBuffers" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RxNumTransfers" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RxZamanAsimiMs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HataBeklemeMs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinFrekansHz" serializeAs="String">
                <value>70000000</value>
            </setting>
            <setting name="MaxFrekansHz" serializeAs="String">
                <value>6000000000</value>
            </setting>
            <setting name="MaxOrneklemeHz" serializeAs="String">
                <value>61440000</value>
            </setting>
            <setting name="MinBantGenisligi" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="MaxBantGenisligi" serializeAs="String">
                <value>56000000</value>
            </setting>
            <setting name="BantKirpmaYuzdesi" serializeAs="String">
                <value>0.30</value>
            </setting>
            <setting name="TxRxGecisSuresiMs" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LOG_BAGLANIYOR" serializeAs="String">
                <value>[SİSTEM] Cihaza bağlanılıyor...</value>
            </setting>
            <setting name="LOG_CANLI_DINLEME" serializeAs="String">
                <value>[SİSTEM] Canlı dinleme BAŞLATILDI...</value>
            </setting>
            <setting name="UI_BTN_SINYALI_KES" serializeAs="String">
                <value>SİNYALİ KES</value>
            </setting>
            <setting name="UI_MOD_TAARRUZ" serializeAs="String">
                <value>DİKKAT: TAARRUZ MODU SEÇİLDİ (SİLAH KURULU)</value>
            </setting>
            <setting name="ERR_CIHAZ_BULUNAMADI" serializeAs="String">
                <value>Cihaz bulunamadı veya açılamadı! USB bağlantısını kontrol edin. </value>
            </setting>
            <setting name="STATUS_MOD_DINLEME" serializeAs="String">
                <value>TEMİZ - DİNLENİYOR... </value>
            </setting>
            <setting name="STATUS_MOD_TAARRUZ" serializeAs="String">
                <value>DİKKAT: TAARRUZ MODU SEÇİLDİ (SİLAH KURULU)</value>
            </setting>
            <setting name="STATUS_MOD_TEST" serializeAs="String">
                <value>GÜVENLİ MOD: DAHİLİ TEST (LOOPBACK) AKTİF</value>
            </setting>
            <setting name="STATUS_ALARM_KAPALI" serializeAs="String">
                <value>ALARM SİSTEMİ DEVRE DIŞI</value>
            </setting>
            <setting name="UI_BTN_SALDIRI_BASLAT" serializeAs="String">
                <value>SALDIRI BAŞLAT</value>
            </setting>
            <setting name="UI_BTN_TEST_GONDER" serializeAs="String">
                <value>TEST SİNYALİ GÖNDER</value>
            </setting>
            <setting name="UI_BTN_BAGLAN" serializeAs="String">
                <value>🔌</value>
            </setting>
            <setting name="UI_BTN_DURDUR" serializeAs="String">
                <value>⏹</value>
            </setting>
            <setting name="UI_BTN_DEVAM" serializeAs="String">
                <value>▶</value>
            </setting>
            <setting name="UI_PROFIL_YENI_KAYDET" serializeAs="String">
                <value>➕ Yeni Özel Ayar Kaydet...</value>
            </setting>
            <setting name="MENU_DIL_SECIMI" serializeAs="String">
                <value>Dil Seçimi (Language)</value>
            </setting>
            <setting name="MENU_TEMA_SECIMI" serializeAs="String">
                <value>Tema Seçimi (Theme)</value>
            </setting>
            <setting name="MENU_KLASOR_AC" serializeAs="String">
                <value>Ayar Klasörünü Aç (Dosyaları Buraya Atın)</value>
            </setting>
            <setting name="MENU_DOSYA_YOK" serializeAs="String">
                <value>Dosya bulunamadı!</value>
            </setting>
            <setting name="LOG_TX_AKTIF" serializeAs="String">
                <value>[TX AKTİF] Sistem üzerinden fiziksel sinyal gönderiliyor...</value>
            </setting>
            <setting name="LOG_TX_KAPALI" serializeAs="String">
                <value>[TX KAPATILDI] Gönderim kesildi. Beklemede.</value>
            </setting>
            <setting name="LOG_PARAMETRE_UYGULANDI" serializeAs="String">
                <value>[DONANIM] Parametreler uygulandı! Yeni SR:</value>
            </setting>
            <setting name="LOG_PROFIL_YUKLENDI" serializeAs="String">
                <value>yüklendi.</value>
            </setting>
            <setting name="LOG_PROFIL_DRONE" serializeAs="String">
                <value>[SİSTEM] Taktik Profil: DRONE (2.4 GHz)</value>
            </setting>
            <setting name="LOG_PROFIL_TELSIZ" serializeAs="String">
                <value>[SİSTEM] Taktik Profil: TELSİZ (433 MHz)</value>
            </setting>
            <setting name="LOG_PROFIL_TELEFON" serializeAs="String">
                <value>[SİSTEM] Taktik Profil: GSM / LTE TELEFON</value>
            </setting>
            <setting name="ERR_DONANIM_HATASI" serializeAs="String">
                <value>[DONANIM HATASI]</value>
            </setting>
            <setting name="ERR_TX_HATASI" serializeAs="String">
                <value>TX Hatası:</value>
            </setting>
            <setting name="ERR_GECIS_HATASI" serializeAs="String">
                <value>Geçiş hatası:</value>
            </setting>
            <setting name="MSG_YETKI_BASLIK" serializeAs="String">
                <value>Yetki Reddedildi</value>
            </setting>
            <setting name="MSG_YETKI_METIN" serializeAs="String">
                <value>Taktik (Askeri) modda sisteme yeni ayar kaydedilemez!\nLütfen İleri Mühendis Moduna geçiş yapın.</value>
            </setting>
            <setting name="MSG_PROFIL_ADI_GIRIN" serializeAs="String">
                <value>Yeni Profil Adını Girin:</value>
            </setting>
            <setting name="MSG_PROFIL_KAYDET_BASLIK" serializeAs="String">
                <value>Profil Kaydet</value>
            </setting>
            <setting name="ERR_PROFIL_ZATEN_VAR" serializeAs="String">
                <value>Bu isimde bir profil zaten var!</value>
            </setting>
            <setting name="MSG_BASARIYLA_KAYDEDILDI" serializeAs="String">
                <value>Başarıyla Kaydedildi!</value>
            </setting>
            <setting name="MSG_HATA_BASLIK" serializeAs="String">
                <value>Hata</value>
            </setting>
            <setting name="MSG_BILGI_BASLIK" serializeAs="String">
                <value>Bilgi</value>
            </setting>
            <setting name="ERR_JSON_BASLIK" serializeAs="String">
                <value>Kritik JSON Hatası</value>
            </setting>
            <setting name="ERR_JSON_DIL_METIN" serializeAs="String">
                <value>DİL DOSYASINDA YAZIM HATASI VAR!\nDosya: {0}\nDetay: {1}\n\nLütfen JSON dosyasındaki virgül ve tırnak işaretlerini kontrol edin.</value>
            </setting>
            <setting name="ERR_JSON_TEMA_METIN" serializeAs="String">
                <value>TEMA DOSYASINDA YAZIM HATASI VAR!\nDosya: {0}\nDetay: {1}\n\nLütfen JSON dosyasındaki virgül ve tırnak işaretlerini kontrol edin.</value>
            </setting>
            <setting name="KapanisZamanAsimiIterasyon" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="KapanisBeklemeMs" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ModGecisZamanAsimiIterasyon" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ModGecisBeklemeMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DinamikAyarGecikmesiMs" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OtopilotBeklemeMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="KalibrasyonBeklemeMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MENU_PROFIL_SIL" serializeAs="String">
                <value>🗑 Seçili Özel Profili Sil</value>
            </setting>
            <setting name="MSG_PROFIL_SIL_ONAY" serializeAs="String">
                <value>'{0}' profilini silmek istediğinize emin misiniz?</value>
            </setting>
            <setting name="MSG_PROFIL_SIL_BASLIK" serializeAs="String">
                <value>Profil Sil</value>
            </setting>
            <setting name="LOG_PROFIL_SILINDI" serializeAs="String">
                <value>[SİSTEM] {0} başarıyla silindi.</value>
            </setting>
            <setting name="MSG_SADECE_OZEL_PROFIL_SILINIR" serializeAs="String">
                <value>Sadece kendi kaydettiğiniz özel profilleri silebilirsiniz!</value>
            </setting>
            <setting name="MSG_UYARI_BASLIK" serializeAs="String">
                <value>Uyarı</value>
            </setting>
            <setting name="UI_MOD_MUHENDIS_BASLIK" serializeAs="String">
                <value>ATEL Karar Destek - [İLERİ MÜHENDİS MODU]</value>
            </setting>
            <setting name="UI_BTN_TAKTIK_MODA_DON" serializeAs="String">
                <value>TAKTİK MODA DÖN</value>
            </setting>
            <setting name="UI_MOD_TAKTIK_BASLIK" serializeAs="String">
                <value>ATEL Karar Destek - [TAKTİK (ASKERİ) MOD]</value>
            </setting>
            <setting name="UI_BTN_ILERI_MOD_AKTIF" serializeAs="String">
                <value>İLERİ MOD AKTİF</value>
            </setting>
            <setting name="LOG_OTOPILOT_BAGLANILIYOR" serializeAs="String">
                <value>[OTOPİLOT] Cihaza otomatik bağlanılıyor...</value>
            </setting>
            <setting name="LOG_OTOPILOT_AKIS_BASLIYOR" serializeAs="String">
                <value>[OTOPİLOT] Veri akışı başlatılıyor...</value>
            </setting>
            <setting name="LOG_IZLEME_DURDURULDU" serializeAs="String">
                <value>[SİSTEM] İzleme geçici olarak durduruldu.</value>
            </setting>
            <setting name="LOG_ISLEM_BASARISIZ" serializeAs="String">
                <value>[HATA] İşlem başarısız: {0}</value>
            </setting>
            <setting name="UI_BTN_KALIBRE_EDILIYOR" serializeAs="String">
                <value>KALİBRE EDİLİYOR...</value>
            </setting>
            <setting name="LOG_KALIBRASYON_BASLADI" serializeAs="String">
                <value>[DONANIM] DC Offset (LO Leakage) Kalibrasyonu başlatıldı. Lütfen bekleyin...</value>
            </setting>
            <setting name="LOG_KALIBRASYON_BITTI" serializeAs="String">
                <value>[SİSTEM] Kalibrasyon tamamlandı! Merkez frekanstaki (DC) parazit temizlendi.</value>
            </setting>
            <setting name="MSG_BAGLANTI_HATASI_BASLIK" serializeAs="String">
                <value>Bağlantı Hatası</value>
            </setting>
            <setting name="MSG_CIHAZ_BAGLI_DEGIL" serializeAs="String">
                <value>Cihaz bağlı değil! Lütfen önce cihaza bağlanın.</value>
            </setting>
            <setting name="UI_GRAFIK_ALT_FREKANSLAR" serializeAs="String">
                <value>&lt;- Alt Frekanslar</value>
            </setting>
            <setting name="UI_GRAFIK_UST_FREKANSLAR" serializeAs="String">
                <value>Üst Frekanslar -&gt;</value>
            </setting>
            <setting name="MSG_RAPOR_BOS" serializeAs="String">
                <value>Henüz kaydedilmiş bir tehdit verisi yok! Sistem temiz.</value>
            </setting>
            <setting name="MSG_RAPOR_HAZIR_BASLIK" serializeAs="String">
                <value>Rapor Hazır </value>
            </setting>
            <setting name="MSG_RAPOR_BASARILI" serializeAs="String">
                <value>Görev Raporu başarıyla oluşturuldu!\n\nDosya Masaüstüne Kaydedildi:\n{0}</value>
            </setting>
            <setting name="MSG_RAPOR_HATA_BASLIK" serializeAs="String">
                <value>Raporlama Hatası</value>
            </setting>
            <setting name="MSG_RAPOR_HATA_METIN" serializeAs="String">
                <value>Rapor oluşturulurken bir hata meydana geldi:\n\n{0}</value>
            </setting>
            <setting name="UI_MARKER_METIN" serializeAs="String">
                <value>▼ M1: {0:F4} MHz</value>
            </setting>
            <setting name="GerekliSureklilik" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UI_PROFIL_DRONE" serializeAs="String">
                <value>DJI Drone / Wi-Fi (2.4 GHz)</value>
            </setting>
            <setting name="UI_PROFIL_TELSIZ" serializeAs="String">
                <value>Taktik Telsiz (UHF 433 MHz)</value>
            </setting>
            <setting name="UI_PROFIL_TELEFON" serializeAs="String">
                <value>GSM / LTE Telefon (1.75 GHz)</value>
            </setting>
            <setting name="DOSYA_AYARLAR" serializeAs="String">
                <value>SistemAyarlari.json</value>
            </setting>
            <setting name="DOSYA_LOG_CSV" serializeAs="String">
                <value>Tehdit_Raporlari.csv</value>
            </setting>
            <setting name="VARSAYILAN_DIL" serializeAs="String">
                <value>Dil_Turkce.json</value>
            </setting>
            <setting name="VARSAYILAN_TEMA" serializeAs="String">
                <value>Tema_Varsayilan.json</value>
            </setting>
            <setting name="CSV_BASLIK_SATIRI" serializeAs="String">
                <value>Tarih_Saat;Merkez_Frekans_MHz;Sinyal_Gucu_dB;Tehdit_Esigi_dB;Bant_Genisligi_MHz;Ornekleme_Hizi_MSps</value>
            </setting>
            <setting name="DroneFrekans" serializeAs="String">
                <value>2.4</value>
            </setting>
            <setting name="DroneOrnekleme" serializeAs="String">
                <value>22.0</value>
            </setting>
            <setting name="DroneBant" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="TelsizFrekans" serializeAs="String">
                <value>433.0</value>
            </setting>
            <setting name="TelsizOrnekleme" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="TelsizBant" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="TelefonFrekans" serializeAs="String">
                <value>1750.0</value>
            </setting>
            <setting name="TelefonOrnekleme" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="TelefonBant" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="BIRIM_GHZ" serializeAs="String">
                <value>GHz</value>
            </setting>
            <setting name="BIRIM_MHZ" serializeAs="String">
                <value>MHz</value>
            </setting>
            <setting name="BIRIM_MSPS" serializeAs="String">
                <value>MSps</value>
            </setting>
            <setting name="FORMAT_MS" serializeAs="String">
                <value>{0} ms</value>
            </setting>
            <setting name="LOG_SISTEM_ON_EK" serializeAs="String">
                <value>[SİSTEM]</value>
            </setting>
            <setting name="YENI_SATIR" serializeAs="String">
                <value>\n</value>
            </setting>
            <setting name="BIRIM_KHZ" serializeAs="String">
                <value>kHz</value>
            </setting>
            <setting name="BIRIM_KSPS" serializeAs="String">
                <value>kSps</value>
            </setting>
            <setting name="KISA_K" serializeAs="String">
                <value>k</value>
            </setting>
            <setting name="KISA_M" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="KISA_G" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="CarpanMega" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="CarpanGiga" serializeAs="String">
                <value>1000000000</value>
            </setting>
            <setting name="VarsayilanOrneklemeHz" serializeAs="String">
                <value>31200000</value>
            </setting>
            <setting name="VarsayilanBantHz" serializeAs="String">
                <value>20000000</value>
            </setting>
            <setting name="BolenYari" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="YuzdeBolen" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FftOlcekBoleni" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="DbHesapCarpani" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MathLogSifirKorumasi" serializeAs="String">
                <value>1E-10</value>
            </setting>
            <setting name="GrafikVarsayilanMaxDb" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GrafikVarsayilanMinDb" serializeAs="String">
                <value>-120</value>
            </setting>
            <setting name="VarsayilanTehditEsigiDb" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="VarsayilanGurultuEsigiDb" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="GridYatayKareSayisi" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GridDikeyKareSayisi" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VarsayilanTxKazanci" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ERR_KALIBRASYON_HATASI" serializeAs="String">
                <value>Kalibrasyon hatası:</value>
            </setting>
            <setting name="ERR_LOG_YAZILAMADI" serializeAs="String">
                <value>Log yazılamadı:</value>
            </setting>
            <setting name="ERR_AYAR_KAYDEDILEMEDI" serializeAs="String">
                <value>Sistem hafızası kaydedilemedi:</value>
            </setting>
            <setting name="ERR_KAYIT_BASLIK" serializeAs="String">
                <value>Kayıt Hatası</value>
            </setting>
            <setting name="EXCEL_SAYFA_ADI" serializeAs="String">
                <value>Görev Raporu</value>
            </setting>
            <setting name="EXCEL_DOSYA_SABLONU" serializeAs="String">
                <value>Gorev_Sonu_Raporu_{0}.xlsx</value>
            </setting>
            <setting name="UI_BTN_KAYDET" serializeAs="String">
                <value>Kaydet</value>
            </setting>
            <setting name="CarpanKilo" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="STATUS_SINYAL_BASILIYOR" serializeAs="String">
                <value>☢ EŞİK DEĞERİNİN ÜSTÜNDE SİNYAL ALGILANDI! ☢</value>
            </setting>
            <setting name="FORMAT_YUZDE" serializeAs="String">
                <value>{0}dB</value>
            </setting>
        </Akıllı_Jammer_Karar_Destek_Arayüzü.Properties.Settings>
    </applicationSettings>
</configuration>